@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C6DCE4;
    color: #233e56;
    
} 

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-size: 2rem;
    color: #233e56;
}


.todo-input {
    outline: none;
    background: none;
    border: 1px solid #233e56;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: 300px;
    color: #233e56;
  }

  .btn{
    border: 1px solid #233e56;
    border-radius: 10px;
    padding: 0.55rem;
    margin-left: 10px;
    cursor: pointer;
    background-color: #4f789b;
  }

  .btn:hover{
    background-color: #C6DCE4;
  }


  .todolist{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  .list-item{
    border: 1px solid #233e56;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    width: 300px;
  }

  .btn-del{
    border: 1px solid #233e56;
    border-radius: 10px;
    padding: 0.55rem;
    margin-left: 10px;
    cursor: pointer;
    background-color: #4f789b;
  }

  .btn-del:hover{
    background-color: #C6DCE4;
  }
  
  @media screen and (max-width: 418px) {
    .list-item{
        width: 250px;
    }

    .todo-input{
        width: 250px;
    }
  }